@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glowing-text {
        text-shadow: 0 0 40px #ffa500;
        color: #ffb329;
    }

    .logo-animation {
        animation: rotation 1s infinite linear;
    }

    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
}
